body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orangered;
}
.Half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.Half-width2{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.Half-width img{
    padding-top: 150px;
    width: 100%;
}
.Half-width2 img{
    width: 100%;
}
.banner{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 5px 25px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.dream{
        background-image: url("Images/dream-bg.png");
        background-repeat: no-repeat;
        background-position: right;
}
